# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=postgres://neondb_owner:npg_edl63WtczSRK@ep-falling-star-a60w810e-pooler.us-west-2.aws.neon.tech/neondb?sslmode=require

# 本地开发环境，注意改成自己的域名
NEXT_PUBLIC_APP_URL=http://localhost:3000/


# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=43e95d62255d8fde24fb2f8bf983df8d
